<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @review.post_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>
<%= @review.post_id %>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%# link_to 'Back', post_path(@review.post.id) %>
